{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="main_content">
  <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
    <div class="main_subtitle">What clients say</div>
    <div class="main_title">Testimonials</div>
  </div>
  <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">

    <div class="testimonials">

      <div class="test_slider_container">
        <div class="owl-carousel owl-theme test_slider">

          <div class="owl-item test_item">
            <div class="test_title">5* Functionality</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_1.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>

          <div class="owl-item test_item">
            <div class="test_title">Fast & Friendly Guy</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_2.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>

          <div class="owl-item test_item">
            <div class="test_title">Great to work with</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_3.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>

          <div class="owl-item test_item">
            <div class="test_title">5* Functionality</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_1.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>

          <div class="owl-item test_item">
            <div class="test_title">Fast & Friendly Guy</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_2.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>

          <div class="owl-item test_item">
            <div class="test_title">Great to work with</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_3.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>

          <div class="owl-item test_item">
            <div class="test_title">5* Functionality</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_1.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>

          <div class="owl-item test_item">
            <div class="test_title">Fast & Friendly Guy</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_2.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>

          <div class="owl-item test_item">
            <div class="test_title">Great to work with</div>
            <div class="test_text">
              <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit.
                Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit.</p>
            </div>
            <div class="test_image"><a href="#"><img src="images/test_3.jpg" alt></a></div>
            <div class="test_info"><a href="#">Diane Smith</a><span>Customer</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="{% static 'js/testimonials.js' %}"></script>

    <script  src="{%static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>

{% endblock %}
